html, body {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}
.wrapper {
    margin: 0 auto;
    font-family: Helvetica;
    width: 1100px;

}

.intro {
    width: 85%;
    margin: 0 auto;
    font-size: 128%;
    vertical-align: top;
    background-color: white;
    margin: 0.3em, 0;
    text-align: justify;
}

.text-right {
    text-align: right;
}

.links {
    width:85%;
    font-weight:bold;
    margin: 1.8em auto;
    text-align: left;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
}
/*.images {

}*/

.icons {
    margin: 68px;
}
.line {
    width: 75%;
}

.footer {
    font-family: sans-serif;
    font-size: 10pt;
    text-align: center;
}
